In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [132]:
data = pd.read_csv('C:/Users/Shree/PycharmProjects/FxPrediction/EUR_USD Historical Data.csv', parse_dates=['Date'],
                   index_col='Date')
del data['Open']
del data['High']
del data['Low']
del data['Change %']
data = data[::-1]
data.head()

             Price
Date
2015-04-27  1.0888
2015-04-28  1.0981
2015-04-29  1.1132
2015-04-30  1.1225
2015-05-01  1.1202

In [133]:
data.tail()

             Price
Date
2019-05-20  1.1171
2019-05-21  1.1160
2019-05-22  1.1153
2019-05-23  1.1180
2019-05-24  1.1204

In [144]:
data = data[:-3]

In [145]:
data.tail()

             Price
Date
2019-05-13  1.1224
2019-05-14  1.1204
2019-05-15  1.1202
2019-05-16  1.1174
2019-05-17  1.1158

In [146]:
#train = data[:int(0.7*(len(data)))]
#valid = data[int(0.7*(len(data))):]

In [147]:
model = ExponentialSmoothing(data.astype(float))

C:\Users\Shree\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:171: ValueWarning: No frequency information was provided, so inferred frequency B will be used.
  % freq, ValueWarning)

In [148]:
model_fit = model.fit()

In [149]:
yhat = model_fit.predict(len(data), len(data))

In [150]:
print(yhat)

2019-05-20    1.115814
Freq: B, dtype: float64